<?xml version='1.0' encoding='UTF-8'?>
<Configuration strict="true" xmlns="http://www.w3.org/2001/XMLSchema"
               xmlns:xsd="http://www.w3.org/2001/XMLSchema-instance"
               xsd:schemaLocation = "http://www.w3.org/2001/XMLSchema  Log4j-config.xsd">
    <Appenders>
        <Appender type="Console" name="consoleOut">
            <Layout Type="PatternLayout" Pattern="%d [%t] %c{3} [%level{length=5}]: %msg%throwable %n"/>
        </Appender>
        <Appender type="Console" name="consoleHibernate">
            <Layout Type="PatternLayout" Pattern="Hibernate: %msg%n"/>
        </Appender>
        <Appender type="File" name="infoFile" fileName="${sys:catalina.home}/logs/info.html">
            <Layout Type="HTMLLayout"/>
        </Appender>
        <Appender type="File" name="fileHibernate" fileName="${sys:catalina.home}/logs/fileHibernate.html">
            <Layout Type="HTMLLayout"/>
        </Appender>
    </Appenders>
    <Loggers>

        <Logger level="info" name="org.hibernate" additivity="false">
            <AppenderRef ref="fileHibernate"/>
            <AppenderRef ref="consoleOut"/>
        </Logger>
        <Logger level="trace" name="org.hibernate.SQL" additivity="false">
            <AppenderRef ref="consoleHibernate"/>
        </Logger>

        <Logger level="debug" name="org.apache.struts" additivity="false">
            <AppenderRef ref="consoleOut"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="consoleOut"/>
            <AppenderRef ref="infoFile"/>
        </Root>
    </Loggers>
</Configuration>