* {
    margin: 0;
    padding: 0;
    border: 0;
    color: #52aa52;
}

@font-face {
    font-family: Intro;
    src: url("../fonts/Intro.otf");
}

a {
    text-decoration: none;
}


body {
    background: #52aa52;
    height: 100%;
    min-height: 850px;
    min-width: 1024px;
    padding: 20px;
}

.headerUser{
    margin: 0 0 100px;
}

.headerAdmin{
    margin: 0 0 20px;
}

#fon {
    width: 100%;
    height: 100%;
    min-height: inherit;
    background: #feb772;
    border-radius: 10px;
    padding: 20px 3px 20px;
}

#basis {
    width: 100%;
    height: 100%;
    min-height: inherit;
    background: white;
    box-sizing: border-box;
}

#wrapper {
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto 0;
}

#logo {
    width: 309px;
}

.item {
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 9pt;
    font-family: Intro;
}

.item:hover {
    background: #feb772;
    border-radius: 10px;
}

.item:hover p {
    color: white;
}

.itemActive {
    height: 90px;
    width: 90px;
    text-align: center;
    font-size: 10pt;
    font-family: Intro;
    background: #feb772;
    border-radius: 10px;
}

.itemActive p {
    color: white;
}

#headerMenu {
    float: left;

}

#selectCityArea {
    text-align: right;
    padding: 0 30px 0 0;
    font-family: Intro;
}

#selectCityArea > div {
    display: inline-block;
}

.introFamily{
    font-family: Intro;
}


.orangeText {
    color: #feb772;
    font-family: inherit;
}

#content {
    margin: 0 auto 0;
    align-content: center;
    padding: 0 10px 10px;
    height: 100%;
}

.clear {
    clear: left;
}

.doubleOrange {
    color: #ff7e00;
    font-family: inherit;
}

.floatLeft {
    float: left;
}


#workAreaSearch  {
    padding: 40px 0 0;
}

.inputTextSearch {
    width: 520px;
    border: 3px solid #ff7e00;
    padding-left: 20px;
    height: 34px;
}

#searchButton {
    cursor: pointer;
}

#iconSearch {
    position: relative;
    top:18px;
    left:20px;
    float: left;
}

#fieldSearch {
    width:720px;
    text-align: left;
    margin: 0 auto;
}

.smallItalicText {
    font-size: 9pt;
    font-style: italic;
    font-family: Arial;
}

.additionText{
    padding: 0 0 0 90px;
    margin: 10px 0;

}

.bigText {
    font-size: 18pt;
    font-family: Intro;
}

.marginBottom10{
    margin: 0 0 10px;
}

.marginTop30{
    margin: 30px 0 0;
}

.marginBottom30{
    margin: 0 0 30px;
}

#startSearch td{
    vertical-align: bottom;
}

#startSearch{
    margin: 0 auto 0;
}

.tableResult {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    font-size: 14pt;
    border-left:3px solid #feb772;
    border-right:3px solid #feb772;
    border-spacing:0;
    border-collapse: collapse;
}

.tableResult td{
    border:1px solid #b6d79f;
    height: 15pt;
}

.tableResult th {
    border:1px solid #b6d79f;
    height: 30px;
    font-weight: bold;
    font-size: 16pt;
}

.tablesorter-headerUnSorted {
    background: url("../images/tableSort/bg.gif") center right no-repeat ;
    cursor: pointer;
    padding: 0 10px 0 0;
}

.tablesorter-headerAsc {
    background: url("../images/tableSort/asc.gif") center right no-repeat ;
    cursor: pointer;
    padding: 0 10px 0 0;
}
.tablesorter-headerDesc {
    background: url("../images/tableSort/desc.gif") center right no-repeat ;
    cursor: pointer;
    padding: 0 10px 0 0;
}

.row1 {
    background: #e2efd9;
}

.highlightLink{
    text-align:left;
    padding:0 0 0 30px;
}

.highlightLink a:hover{
    color: #feb772;
    cursor: pointer;
}

.blockResult{
    width: 90%;
    margin: 0 auto;
}

#popUpSelectCity{
    position: relative;
    display: none;
    width: 130px;
}

#selectCity {
    cursor: pointer;
    text-align: left;
    width: 130px;
}

#selectCity:hover div{
    display: block;
}

.leftColumn {
    float: left;
    width: 400px;
    font-size: 16pt;
}

.leftColumnAdmin{
    float: left;
    height: 100%;
    width: 250px;
    font-size: 16pt;
    padding: 20px 0 0;
}

.workArea{
    margin-left: 410px;
    height: 500px;
}

.workAreaAdmin{
    height: 90%;
    padding: 10px 20px 0;
}

.wrapperAdmin{
    min-height: 610px;
    height: 100%;
    margin: 0 0 0 250px;
    background: #f4fff1;
    border-radius: 0 10px 10px 0;
}

.usualText{
    color:#555555;
}

#formDL {
    padding: 100px 0 0 0;
    margin: 0 auto;
    text-align: center;
    font-size: 16pt;
    width: 700px;
}

.inputDL{
    width: 300px;
    font-size: 14pt;
    border: solid 1px #555555;
}

.leftColumnDL{
    width: 200px;
    text-align: right;
}

.submitDL{
    background: white;
    font-size: 16pt;
}

.submitDL:hover{
    cursor: pointer;
    color: #feb772;
}

.tableDL tr{
    height: 40px;
    text-align: center;
}

.errorBlock{
    font-size: 30px;
    text-align: center;
}

.twoColumn{
    border-radius: 10px 15px 15px 10px;
    background: #52aa52;
    min-height: 610px;
    margin: 10px 0 50px;
}

.leftMenu{
    font-family: Intro;
    color:white;
    margin: 0 0 10px;
    padding: 0 0 0 50px;
}
.leftMenu:hover{
    color:#feb772;
}

#forSearch{
    padding: 200px 0 0 0;
    margin: 0 auto 0;
}
.errorMessage{
    color: #FF2E2E;
}

.leftSubMenu:hover{
    color:#feb772;
}
.leftSubMenu{
    color:white;
    margin: 0 0 10px;
    padding: 0 0 0 70px;
    font-size: 12pt;
    display: block;
}

#map{
    width: 100%;
    height: 400px;
}

.fontSize35{
    font-size: 35px;
}

.fontSize50{
    font-size: 50px;
}

.textAlignCenter{
    text-align: center;
}

#map2{
    width: 100%;
    height: 400px;
    border-left:3px solid #b0d497;
}

.buttonPrice{
    cursor: pointer;
    color: white;
    width: 75px;
    font: 20px Intro;
    border-radius: 10px 10px 0 0;
    display: inline;
    border: none;
    padding: 6px 25px 0;
    position: relative;
}

.buttonNotCheck {
    background: #b0d497;
    z-index: 0;
}

.buttonCheck {
    background: #feb772;
    z-index: 1;
}

.buttonPrice:hover{
   background:  #52aa52;
}

.shiftButton{
    left: -15px;
}

.activeArea{

}

.notFoundPage{
    padding: 200px 0 0;
}